<%= form_for(@song) do |f| %>
	<% @song.errors.full_messages.each do |message| %>
	<div><%= message %></div>
	<% end %>
	<div class="field">
		<%= f.label :título %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :cantante %>
		<%= f.text_field :singer, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :Álbum %>
		<%= f.text_field :album, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :género %>
		<%= f.text_field :genre, class: "form-control" %>
	</div><br>
	<div class="field">
		<%= f.label :tipo_de_publicación %>
		<%= f.select :state, options_for_select(["Pública","Privada","Compartida"]) %>
	</div><br>
	<div class="field">
		<%= f.submit "Guardar", class: "btn btn-primary" %>
	</div>
<% end %>