<div style="width: 80%;margin:0 auto;">
<h1>Agregar canción</h1>
<%= form_for(@song) do |f| %>
	<div class="field">
		<%= f.label :nombre %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :cantante %>
		<%= f.text_field :singer, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :Álbum %>
		<%= f.text_field :album, class: "form-control" %>
	</div>
	<div class="field">
		<%= f.label :género %>
		<%= f.text_field :genre, class: "form-control" %>
	</div><br>
	<div class="field">
		<%= f.submit "Guardar", class: "btn btn-primary" %>
	</div>
<% end %>
</div>