	<!DOCTYPE html>
	<html>
	  <head>
	    <title>MusicHits</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  </head>

	  <body>
	<ul>
	  <li><%= link_to "Inicio", root_path %></li>
	  <li><a href="/registro">Registro</a></li>
	  <li><%= link_to "Iniciar sesión", login_path %></li>
	</ul>
	  <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	    <%= yield %>
	  </body>
	</html>
